/* Base/Mobile Styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --item-height: 42px;
}

body {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;
  font-family: Ubuntu, Trebuchet, sans-serif;

  counter-reset: menu-item-counter;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  background: rgba(217, 93, 75, 0.8);
  padding: 30px;

  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.6);

  z-index: 10;
}

header h1 {
  margin-right: 50px;
}

header label {
  width: 42px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
}

header label i line {
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}

header label:hover {
  filter: invert(1);
}

main {
  /* padding: 30px; */
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

nav {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease 0s;
}

nav ul {
  display: block;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

nav ul li {
  counter-increment: menu-item-counter;
  background-color: orange;
  padding: 0.5em;
  height: var(--item-height);
}

/* nav ul li::before {
  content: "#" counter(menu-item-counter);
} */

.header {
  display: flex;
  justify-content: space-between;
}

header input[type="checkbox"]:checked + nav {
  max-height: 500px; /* TODO: animation without JavaScript */
}

section > article {
  display: none;
}

section > input[type="radio"]:checked + article {
  display: block;
}

.header-box {
  position: relative;
  overflow: hidden;
  min-height: 300px;
  padding: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 50%
  );
  height: 50vw;
  max-height: 70vh;
}

.header-box h1 {
  font-size: 2.75em;
  margin-bottom: 20px;
}

.header-box h1,
.header-box h2 {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.header-box h2 {
  font-weight: normal;
}

.header-box img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.header-box-b {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.header-box-b hgroup {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.header-box-b h1 {
  font-size: 32px;
}

.header-box-b img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

hr {
  margin: 60px 0;
}

ul.gallery {
  /* display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 200px); */

  list-style: none;

  margin: 0 auto;
  padding: 0;
}

ul.gallery img {
  max-width: 100%;
}

figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}

figcaption {
  position: absolute;
  bottom: -50px;
  right: 0;
  color: white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.4);
  transition: bottom 0.5s ease-in 0s;
  z-index: 20;
}

figure:hover figcaption {
  bottom: 0;
}

ul.gallery.slideshow {
  position: relative;
  width: 100%; /* <-- therein lies the rub */
  display: block;
  overflow: hidden;
  height: 600px;
}

ul.gallery.slideshow li {
  position: absolute; /* <-- absolute elements give no height or width to parent */
  top: 0;
  left: 0;
  width: 100%;
}

ul.gallery.slideshow img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-ui {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  margin: 0 auto 30px;
}

footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 1em;
}

footer menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

footer menu label {
  cursor: pointer;
  padding: 20px;
  width: 33%;
  text-align: center;
}

footer menu label:hover {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.36),
    rgba(0, 0, 0, 0.16)
  );
}

footer menu i {
  font-size: 3em;
  font-style: normal;
}
